/*author ypf date 2018-11-30*/
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin: 0px;
  padding: 0px;
}
body {
  background: #eeeeee;
  font-size: .7rem;
  font-family: "PingFangSC-Regular", sans-serif;
}
a {
  text-decoration: none;
  color: #111111;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
li {
  list-style: none;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix {
  *zoom: 1;
}
.bc-content {
  padding-top: 2.7rem;
}
